$rubiks_cube_width: 8rem;

.resume.container{
  -webkit-box-shadow: 4px 14px 20px 5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow:    4px 14px 20px 5px rgba(0, 0, 0, 0.65);
  box-shadow:         4px 14px 20px 5px rgba(0, 0, 0, 0.65);

  .intro{
    position: relative;
    display: flex;
    justify-content: center;
    background: rgba(60, 174, 162, .8);

    img.me{
      max-width: 23.5rem;
      max-height: 23.5rem;
      flex-basis: 30%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      z-index: 10;
      top: 2.5rem;
      left: 2.5rem;
    }

    .info{
      margin-top: 4rem;
      margin-bottom: 2rem;

      .name{
        font-size: 3.8rem;
        color: white;
        letter-spacing: .08em;
      }

      .title{
        font-size: 2.2rem;
        letter-spacing: .05em;
        color: white;
      }

      .extras{
        display: flex;

        .location, .phone, .email{
          margin-top: 2.5rem;
          font-size: 1.4rem;
          color: white;
          border-right: .2rem solid white;
          padding: 0rem 1rem;

          &:first-child{ padding-left: 0; }

          &:last-child{
            border-right: none;
            padding-right: 0;
          }
        }
      }
    }
  }

  .resume_body{
    display: flex;

    .resume_left{
      flex-basis: 20%;
      min-width: 20%;
      min-height: 80rem;
      padding-top: 8.4rem;
      background: rgba(150, 150, 150, .8);

      .section_title{
        width: 100%;
        color: white;
        background: rgba(60, 174, 162, .8);
        font-size: 2.2rem;
        font-weight: bold;
        box-sizing: border-box;
        padding: 1rem 1rem 1rem 2rem;
        letter-spacing: .1rem;
        text-align: right;
        position: relative;

        &:first-child{ padding-top: 2.5rem; }

        &.experience{ top: 30rem; }
      }

      .social{
        display: flex;
        margin: 1rem 2rem;
        margin-left: 0;

        img{
          display: inline-block;
          max-width: 5rem;
          max-height: 5rem;
          margin: 1rem;
          margin-left: 0;
        }
      }
    }

    .resume_right{
      background: rgba(255, 255, 255, .8);

      section{
        position: relative;
        font-size: 1.4rem;
        margin: 2% 6%;

        &:first-child{
          position: relative;
          top: 8rem;
          margin-top: 0;
        }

        .title{
          font-size: 2.2rem;
          font-weight: bold;
          padding-bottom: .6rem;
          border-bottom: solid .3rem rgba(150, 150, 150, .8);
          color: rgb(60, 174, 162);
          margin-bottom: 1rem;
        }

        .text{
          font-size: 1.5rem;
          color: #444;
          line-height: 1.8rem;
        }
      }
    }
  }
}

section.experience{
  top: 42.5rem;

  .role{
    margin-top: 2rem;

    .info{
      display: flex;
      justify-content: space-between;
      font-size: 1.8rem;
    }

    ul{
      display: block;
      margin-top: 1rem;

      li {
        list-style-type: disc;
        margin-left: 3rem;
        line-height: 1.8rem;
      }
    }

    ul.project{
      li{
        list-style-type: circle;

        &:first-child{
          margin-left: 1.8rem;
          list-style-type: disc;
        }
      }
    }
  }
}


section.technologies{
  .tech_group{
    margin-top: 3rem;

    .group_icons{
      display: flex;
      flex-wrap: wrap;

      .technology{
        img{
          display: block;
          width: 4rem;
        }
      }
    }
  }

  .controls{
    position: absolute;
    right: 2rem;

    .control{
      background: #51A499;
      border: outset #c0c0c0 2px;
      -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow:    1px 1px 1px 0px rgba(0, 0, 0, 0.4);
      box-shadow:         1px 1px 1px 0px rgba(0, 0, 0, 0.4);
      color: white;
      font-size: 1.8rem;
      padding: .8rem 1.4rem;
      margin: .5rem;
      display: flex;
      align-content: center;
      justify-content: center;
      cursor: pointer;

      &:hover{ background: red; }
    }
  }
}

.cube_wrap{
  position: absolute;
  left: 5rem;
}

.cube {
  position: relative;
  z-index: 100;
  width: 210px;
  transform-style: preserve-3d;

  &.spin { animation: spin 5s infinite linear; }

  > div {
    position: absolute;
    width: $rubiks_cube_width;
    height: $rubiks_cube_width;
    box-sizing: border-box;
  }

  .back {
    transform: translateZ((-$rubiks_cube_width / 2)) rotateY(180deg);
  }

  .right {
    transform: rotateY(-270deg) translateX(($rubiks_cube_width / 2));
    transform-origin: top right;
  }

  .left {
    transform: rotateY(270deg) translateX((-$rubiks_cube_width / 2));
    transform-origin: center left;
  }

  .top {
    transform: rotateX(-90deg) translateY((-$rubiks_cube_width / 2));
    transform-origin: top center;
  }

  .bottom {
    transform: rotateX(90deg) translateY(($rubiks_cube_width / 2));
    transform-origin: bottom center;
  }

  .front {
    transform: translateZ(($rubiks_cube_width / 2));
  }
}

.wrap.rubiks{
  position: absolute;
  height: $rubiks_cube_width * 3;
  width: $rubiks_cube_width * 4;
  right: 3rem;
  z-index: 110;
}

.cube.rubiks{
  position: absolute;
  left: 38%;
  top: 34%;
  width: $rubiks_cube_width;
  height: $rubiks_cube_width;
  transform-origin: center center;

  &.start_position{
    transform: rotateX(345deg) rotateY(10deg)!important;
  }

  .face{
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .piece{
      width: 31%;
      height: 32%;
    }

    &.white  .piece{ background: white; }
    &.blue   .piece{ background: blue; }
    &.red    .piece{ background: red; }
    &.green  .piece{ background: green; }
    &.orange .piece{ background: orange; }
    &.yellow .piece{ background: yellow; }
  }
}

// @keyframes spin {
//   from { transform: rotateX(5deg) rotateY(0deg) rotateZ(-12deg); }
//   to { transform: rotateX(5deg) rotateY(180deg) rotateZ(-12deg); }
//   to { transform: rotateX(5deg) rotateY(360deg) rotateZ(-12deg); }
// }
