.resume.container{
  -webkit-box-shadow: 4px 14px 20px 5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow:    4px 14px 20px 5px rgba(0, 0, 0, 0.65);
  box-shadow:         4px 14px 20px 5px rgba(0, 0, 0, 0.65);

  .intro{
    position: relative;
    display: flex;
    justify-content: center;
    background: rgba(60, 174, 162, .8);

    img.me{
      max-width: 23.5rem;
      max-height: 23.5rem;
      flex-basis: 30%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 4.5rem;
      left: 3rem;
    }

    .info{
      margin-top: 4rem;
      margin-bottom: 2rem;

      .name{
        font-size: 3.8rem;
        color: white;
        letter-spacing: .08em;
      }

      .title{
        font-size: 2.2rem;
        letter-spacing: .05em;
        color: white;
      }

      .extras{
        display: flex;

        .location, .phone, .email{
          margin-top: 2.5rem;
          font-size: 1.4rem;
          color: white;
          border-right: .2rem solid white;
          padding: 0rem 1rem;

          &:first-child{ padding-left: 0; }

          &:last-child{
            border-right: none;
            padding-right: 0;
          }
        }
      }
    }
  }

  .resume_body{
    display: flex;

    .left{
      flex-basis: 29%;
      min-width: 29%;
      min-height: 80rem;
      padding-top: 18rem;
      background: rgba(150, 150, 150, .8);

      .social{
        display: flex;
        margin: 1rem 2rem;
        margin-left: 0;

        img{
          display: inline-block;
          max-width: 5rem;
          max-height: 5rem;
          margin: 1rem;
          margin-left: 0;
        }
      }
    }

    .right{
      background: rgba(255, 255, 255, .8);

      section{
        margin: 2% 6%;

        &:first-child{ margin: 6%; }


        .title{
          font-size: 2.2rem;
          font-weight: bold;
          padding-bottom: .6rem;
          border-bottom: solid .3rem rgba(150, 150, 150, .8);
          color: rgb(60, 174, 162);
          margin-bottom: 1rem;
        }

        .text{
          font-size: 1.5rem;
          color: #444;
          line-height: 1.8rem;
        }
      }
    }
  }
}
