.resume.container{
  -webkit-box-shadow: 4px 14px 20px 5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow:    4px 14px 20px 5px rgba(0, 0, 0, 0.65);
  box-shadow:         4px 14px 20px 5px rgba(0, 0, 0, 0.65);

  .intro{
    position: relative;
    display: flex;
    justify-content: center;
    background: rgba(60, 174, 162, .8);

    img.me{
      max-width: 23.5rem;
      max-height: 23.5rem;
      flex-basis: 30%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 7.5rem;
      left: 3rem;
    }

    .info{
      .name{
        margin-top: 3rem;
        margin-bottom: .8rem;
        font-size: 3.8rem;
        color: white;
        letter-spacing: .08em;
      }

      .title{
        font-size: 2.2rem;
        letter-spacing: .05em;
        color: white;
      }

      .social{
        display: flex;
        margin: 1rem 2rem;
        margin-left: 0;

        img{
          display: inline-block;
          max-width: 5rem;
          max-height: 5rem;
          margin: 1rem;
          margin-left: 0;
        }
      }
    }
  }
}
